/* Fix text color in inputs */
::ng-deep .mat-mdc-input-element {
    color: white !important;
}

::ng-deep .mat-mdc-form-field-label {
    color: #94a3b8 !important;
    /* light gray */
}

::ng-deep .mat-mdc-text-field-wrapper {
    background-color: #0f172a !important;
    /* darker bg */
}